.search-box {
	position: relative;
	margin-top: 56px;
	padding: 16px 29px;
	width: 1094px;
	height: 96px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 50px;
	background-color: #bde8ca;
	.select-box {
		width: 712px;
		height: 55px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		justify-content: space-between;

		.box {
			padding: 24px 22px;
			width: 213px;
			height: 56px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			border-radius: 50px;
			background: rgba(255, 255, 255, 0.575);
			box-sizing: border-box;
			cursor: pointer;

			&.on {
				background: #ffffff;
				border: 1px solid #000;
				color: #181a20;
				background-color: #c2d2bd;
			}
			span {
				color: #181a20;
				font-family: $font;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 26px;
			}
		}
	}
	.search-box-other {
		display: flex;
		flex-direction: row;
		align-items: center;
		.advanced-filter {
			display: flex;
			flex-direction: row;
			align-items: center;
			img {
				margin-right: 10px;
				width: 25px;
				height: 22px;
				cursor: pointer;
				background-color: #a0bd97;
			}
			span {
				color: #2f4858;
				font-family: $font;
				font-size: 20px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				cursor: pointer;
			}
		}
		.search-btn {
			margin-left: 12px;
			width: 62px;
			height: 62px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 55px;
			background: #2f4858;
			cursor: pointer;
			svg {
				width: 20px;
				height: 20px;
				color: #ffffff;
			}
		}
	}
	.filter-location {
		position: absolute;
		padding: 40px 60px;
		width: 1094px;
		min-height: 120px;
		height: auto;
		top: 96px;
		right: 0px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 40px;
		visibility: hidden;
		border-radius: 12px;
		background: #ffffff;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		box-sizing: border-box;
		z-index: 2;
		&.on {
			visibility: visible;
			transition: 0.2s ease-out;
			background: #fffdfd;
		}
		div {
			width: 295px;
			display: flex;
			flex-direction: row;
			align-items: center;
			img {
				width: 122px;
				height: 85px;
				border-radius: 15px;
				cursor: pointer;
			}
			span {
				margin-left: 22px;
				color: #181a20;
				font-family: $font;
				font-size: 20px;
				font-style: normal;
				font-weight: 400;
				line-height: 26px;
				cursor: pointer;
				text-transform: capitalize;
			}
			label {
				line-height: 13px;
			}
		}
	}
	.filter-type {
		position: absolute;
		padding: 40px 60px;
		width: 1094px;
		min-height: 120px;
		height: auto;
		top: 96px;
		right: 0px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 40px;
		visibility: hidden;
		border-radius: 12px;
		background: #ffffff;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		box-sizing: border-box;
		z-index: 2;
		&.on {
			visibility: visible;
			transition: 0.2s ease-out;
			background: #fffdfd;
		}
		div {
			width: 295px;
			display: flex;
			flex-direction: row;
			align-items: center;
			img {
				width: 122px;
				height: 85px;
				border-radius: 15px;
				cursor: pointer;
			}
			span {
				margin-left: 22px;
				color: #181a20;
				font-family: $font;
				font-size: 20px;
				font-style: normal;
				font-weight: 400;
				line-height: 26px;
				cursor: pointer;
				text-transform: capitalize;
			}
			label {
				line-height: 13px;
			}
		}
	}
	.filter-rooms {
		position: absolute;
		padding: 10px 92px;
		width: 1094px;
		min-height: 120px;
		height: auto;
		top: 96px;
		right: 0px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		visibility: hidden;
		border-radius: 12px;
		background: #fff;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		box-sizing: border-box;
		z-index: 1;
		&.on {
			visibility: visible;
			transition: 0.2s ease-out;
			background: #fffdfd;
		}
		span {
			display: flex;
			align-items: center;
			padding: 10px 30px;
			border: 1px solid #fffdfd;
			color: #181a20;
			font-family: $font;
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: 26px;
			cursor: pointer;
			&:hover {
				border-radius: 5px;
				border: 1px solid #b9b9b9;
				box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
			}
		}
	}
}
