#pc-wrap {
	#community-detail-page {
		position: relative;
		background-color: #c2d2bd;
		.container {
			width: auto;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			padding: 100px 0;
			display: flex;
			width: auto;
			gap: 64px;

			.main-box {
				width: auto;
				flex-direction: row;
				gap: 31px;
				border-radius: 12px;
				padding: 70px;
				background-color: white;
				.left-config {
					width: 386px;
					height: fit-content;
					align-items: center;
					gap: 30px;
					padding: 30px 15px 57px 21px;
					margin-top: 100px;
					margin-bottom: 50px;
					border-radius: 12px;
					border: 1px solid rgba(196, 196, 196, 0.79);
					box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
					background-color: #c2d2bd;
					.image-info {
						width: 100%;
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						justify-content: center;
						img {
							width: 200px;
							height: 200px;
							border-radius: 50%;
							object-fit: cover;
						}
						.community-name {
							.name {
								margin-top: 15px;
								color: #181a20;
								font-family: 'Times New Roman';
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
						}
					}
					.tab-button {
						width: 316.612px;
						height: 36px;
						padding: 0;
						justify-content: center;
						align-items: center;
						border-radius: 12px;
						border: 1px solid #181a20;
						margin-bottom: 10px;
						color: #181a20;
						font-size: 14px;
						font-style: normal;
						font-weight: 600;
						line-height: 150%;
						letter-spacing: -0.266px;
						font-family: 'Times New Roman';
					}
					.tab-button.active {
						width: 316.612px;
						height: 36px;
						padding: 0;
						justify-content: center;
						align-items: center;
						background-color: #48822b;
						color: #ffffff;
						border-radius: 6px;
						margin-bottom: 10px;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: 150%;
						letter-spacing: -0.266px;
					}
				}
				.community-detail-config {
					padding: 70px;
					align-items: center;
					border-radius: 12px;
					border: solid 1px black;
					.title-box {
						justify-content: space-between;
						flex-direction: row;
						align-items: center;
						margin-bottom: 45px;
						height: auto;
						width: 100%;

						.left {
							width: 60%;
							height: auto;
							.title {
								color: #000;
								font-family: $font;
								font-size: 24px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								letter-spacing: 0.24px;
							}
							.sub-title {
								color: #757575;
								font-family: $font;
								font-size: 13px;
								font-style: normal;
								font-weight: 700;
								line-height: normal;
								letter-spacing: 0.325px;
							}
						}
						.right {
							width: 191px;
							height: 42px;
							border-radius: 8px;
							background: #2f4858;
							color: beige;
							font-family: $font;
							font-size: 13px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
							letter-spacing: 0.39px;
						}
					}
					.config {
						padding: 70px;
						width: auto;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						border-radius: 12px;
						gap: 21px;

						.first-box-config {
							width: 1012px;
							height: auto;
							padding: 25px 50px;
							border-radius: 12px;
							box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
							background-color: whitesmoke;
							.content-and-info {
								width: 100%;
								height: 126px;
								padding: 25px 25px;
								flex-direction: row;
								justify-content: space-between;
								border-radius: 12px;
								background-color: white;

								.content {
									gap: 12px;
									.content-data {
										color: #000;
										font-family: $font;
										font-size: 18px;
										font-style: normal;
										font-weight: 700;
										line-height: normal;
									}
									.member-info {
										width: auto;
										height: auto;
										flex-direction: row;
										align-items: center;
										gap: 5px;
										.member-img {
											width: 45px;
											height: 45px;
											cursor: pointer;
											object-fit: cover;
										}
										.member-nick {
											color: #000;
											font-family: $font;
											font-size: 13px;
											font-style: normal;
											font-weight: 500;
											line-height: normal;
											letter-spacing: 0.13px;
											cursor: pointer;
										}
										.divider {
											width: 1px;
											height: 16px;
											background: black;
										}
										.time-added {
											color: #181a20;
											font-family: $font;
											font-size: 12px;
											font-style: normal;
											font-weight: 500;
											line-height: normal;
											letter-spacing: 0.12px;
										}
									}
								}
								.info {
									width: auto;
									height: auto;
									display: flex;
									gap: 5px;
									align-items: center;
									justify-content: center space-evenly;

									.icon-info {
										flex-direction: row;
										align-items: center;
										justify-content: center;
										gap: 4px;
										img {
											width: 18.714px;
											height: 16.15px;
										}
										.text {
											padding-top: 2 px;
											color: #000;
											font-family: $font;
											font-size: 11px;
											font-style: normal;
											font-weight: 400;
											line-height: normal;
											letter-spacing: -0.22px;
										}
									}
									.divider {
										width: 1px;
										height: 21px;
										background: #eeeeee;
									}
								}
							}
							.like-and-dislike {
								width: 100%;
								height: 100%;
								align-items: center;
								justify-content: flex-end;
								gap: 60px;
								padding: 25px 25px;
								.top {
									width: 100%;
									height: auto;
									flex-direction: row;
									align-items: center;
									justify-content: center;
									gap: 17px;
									button {
										width: 135.081px;
										height: 55px;
										gap: 5px;
										border-radius: 12px;
										border: 1px solid #eee;
										background: #abd6a6;
										p {
											color: #fff;
											font-family: $font;
											font-size: 13px;
											font-style: normal;
											font-weight: 700;
											line-height: normal;
											letter-spacing: -0.26px;
										}
									}
								}
							}
						}
						.second-box-config {
							max-width: 0 50px;
							width: 1012px;
							height: auto;
							padding: 30px 24px;
							gap: 11px;
							border-radius: 12px;
							background-color: whitesmoke;
							.title-text {
								align-self: flex-start;
								color: #000;
								text-align: center;
								font-family: $font;
								font-size: 17px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								letter-spacing: -0.34px;
							}
							.leave-comment {
								input {
									border-radius: 12px;
									width: 100%;
									height: 61px;
									outline: none;
									padding: 22px 17px;
									border: 1px solid #eee;
									::placeholder {
										color: #c0c0c0;
										font-family: $font;
										font-size: 14px;
										font-style: normal;
										font-weight: 500;
										line-height: normal;
										letter-spacing: -0.56px;
									}
								}
								.button-box {
									width: 100%;
									height: 62px;
									border-radius: 12px;
									flex-direction: row;
									justify-content: space-between;
									align-items: center;
									padding: 0 25px;
									border: 1px solid #eee;
									border-top: none;
									background-color: white;

									p {
										color: #000;
										font-family: $font;
										font-size: 14px;
										font-style: normal;
										font-weight: 500;
										line-height: normal;
										letter-spacing: 0.56px;
									}
									button {
										width: 150.077px;
										height: 75%;
										border-radius: 12px;
										background: #9dcd9d;
										color: #fff;
										font-family: $font;
										font-size: 14px;
										font-style: normal;
										font-weight: 600;
										line-height: normal;
										letter-spacing: 0.56px;
									}
								}
							}
						}
						.comments {
							width: 100%;
							height: auto;
							border: 1px solid #efefef;
							border-top: none;
							.comments-title {
								width: 112.087px;
								display: flex;
								align-items: center;
								justify-content: center;
								padding: 16px 15px;
								border-bottom: 2px solid #eb6753;
								color: #eb6753;
								font-family: $font;
								font-size: 14px;
								font-style: normal;
								font-weight: 700;
								line-height: normal;
								letter-spacing: 0.56px;
							}
						}
						.pagination-box {
							width: 100%;
							height: auto;
							margin-top: 30px;
							align-items: center;
							justify-content: center;
						}
						.comments-box {
							.main-comment {
								width: 100%;
								height: auto;
								padding: 20px 24px;
								gap: 17px;
								border: 1px solid #efefef;
								border-top: none;
								.member-info {
									width: 100%;
									height: auto;
									flex-direction: row;
									justify-content: space-between;
									.name-date {
										width: auto;
										height: auto;
										flex-direction: row;
										gap: 8px;
										cursor: pointer;
										img {
											width: 45.035px;
											height: 45px;
											border-radius: 50%;
											cursor: pointer;
											object-fit: cover;
										}
										.name-date-column {
											.name {
												color: #000;
												font-family: $font;
												font-size: 16px;
												font-style: normal;
												font-weight: 700;
												line-height: normal;
												cursor: pointer;
											}
											.date {
												color: #757575;
												font-family: $font;
												font-size: 13px;
												font-style: normal;
												font-weight: 400;
												line-height: normal;
												letter-spacing: -0.39px;
												cursor: pointer;
											}
										}
									}
									.buttons {
										flex-direction: row;
									}
								}
								.content {
									width: 100%;
									height: auto;
									p {
										color: #000;
										font-family: $font;
										font-size: 16px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
										letter-spacing: -0.48px;
									}
								}
							}
						}
					}
				}
			}
			.similar-articles-config {
				width: 100%;
				height: auto;
				gap: 75px;
				padding: 30px 9px 28px 9px;
				border-radius: 10px;
				border: 1px solid #c4c4c4;
				.similar-articles-title {
					padding-left: 56px;
					color: #000;
					font-family: $font;
					font-size: 30px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
				}
				.articles-box-row {
					width: 100%;
					height: auto;
					flex-direction: row;
					gap: 5px;
				}
			}
		}
	}
}
